<!DOCTYPE html>
<html>
<head>
  <title>Create a product</title>
</head>
<body>
  <form action = "/fw2015" type = "post">
      <label>
        <p>Product name:</p>
        <input type = "text" name = "name" size = "30">
      </label>
      <label>
        <p>Type: </p>
        <input type = "text" name = "type" size = "30">
      </label>
      <label>
        <p>Size:
        <select>
        <option value = "XS">XS</option>
        <option value = "S">S</option>
        <option value = "M">M</option>
        <option value = "L">L</option>
        <option value = "XL">XL</option>
        </select>
        </p>
      </label>
      <label> Price: 
          <input type = "number" name = "price" size = 10>
      </label>
      <label> Stock: 
          <input type = "number" name = "stock" size = 10>
      </label>
      <label> Image URL: 
          <input type = "text" name = "url" size = 50>
      </label>
      <input type = "submit" value = "CREATE">
  </form>
</body>
</html>