<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/create.css">
  <title>Success!</title>
</head>
<body>
  <div class = "container">
    <p>You have added a new collection!</p>
  </div>
</body>
</html>
