<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="layout.css">
  <title>Welcome to Kurak </title>
</head>
<body>
</body>
</html>