<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="home.css">
  <title>Welcome to Kurak</title>
</head>
<body>
  <div class = "container">
  <a href = 'collection/collection_id/season?collection_id=32'><img src = "https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12743940_574730959363651_8986150154832516081_n.jpg?oh=4f9d60270ad0437295fc11b2fba6c91c&oe=58EC7F08" alt = "ad" /></a>
  </div>
</body>
</html>