<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="home.css">
  <title>Welcome to Kurak</title>
</head>
<body>
  <div class = "container">
 <!--  <img src = "https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/10420761_368224866680929_1095927930453457047_n.jpg?oh=530c9217b4fc4cfef99b8e204fc7d04a&oe=58E13F54" alt = "logo"/> -->
  </div>
</body>
</html>