<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/layout.css">
  <title></title>
</head>
<body>
<nav class = "nav">
  <ul>
    <li><a href = "/"index"">HOME</a></li>
    <li><a href = "/fw2015">INVENTORY</a></li>
    <li><a href= "/fw2015/new">ADD A NEW PRODUCT</a></li>
  </ul>
</nav>
<%=yield%>
</body>
</html>