<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/layout.css">
  <meta name = "viewport" content = "width=device-width initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <title></title>
</head>
<body>
  <div id = "container">
    <nav class = "nav">
      <!-- <img src = "https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/10420761_368224866680929_1095927930453457047_n.jpg?oh=530c9217b4fc4cfef99b8e204fc7d04a&oe=58E13F54" alt = "logo"/> -->
      <ul>

        <li><a href= "/fw2015/new">ADD A NEW PRODUCT</a></li>
        <li><a href = "/fw2015">INVENTORY</a></li>
        <li><a href = "/">HOME</a></li>
      </ul>
    </nav>
    <%=yield%>
  </div>
</body>
</html>