<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/layout.css">
  <meta name = "viewport" content = "width=device-width initial-scale=1.0">
  <link rel="stylesheet" type="icon" href="kuuurak_logotype.jpg">
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <title></title>
</head>
<body>
  <div id = "container">
    <nav class = "nav">
      <img src="https://s24.postimg.org/kqmkeym7p/kuuurak_logotype.jpg" alt = "logo"/>
      <img src="https://s24.postimg.org/kqmkeym7p/kuuurak_logotype.jpg" alt = "logo"/>
      <img src="https://s24.postimg.org/kqmkeym7p/kuuurak_logotype.jpg" alt = "logo"/>
      <ul>
        <li><a href= "/store/new">ADD A NEW PRODUCT</a></li>
        <li><a href = "/store">INVENTORY</a></li>
        <li><a href = "/">HOME</a></li>
      </ul>
    </nav>
    <%=yield%>
  </div>
</body>
</html>