<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/layout.css">
  <meta name = "viewport" content = "width=device-width initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <title></title>
</head>
<body>
  <div id = "container">
    <nav class = "nav">
      <ul>
        <li><a href = "/">HOME</a></li>
        <li><a href = "/fw2015">INVENTORY</a></li>
        <li><a href= "/fw2015/new">ADD A NEW PRODUCT</a></li>
      </ul>
    </nav>
    <%=yield%>
  </div>
</body>
</html>