<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="layout.css">
  <title></title>
</head>
<body>
<ul>
  <li><a href = "/fw2015/index">FW2015</a></li>
  <li><a href ="/ss2016/index">SS2016</a></li>
  <li><a href = "/fw2016/index">FW2016</a></li>
  <%=yield%>
</ul>
</body>
</html>