.list {
  border: 1px solid white;
}

.list h1 {
 font-family: arial;
 color: white; 
}

.container1 {
  border: 1px solid blue;
  font-family: arial;
  color:white;
  float: left;
}

.list img {
  width: 817px;
  height: 450px;
  border: 1px solid red; /* 1.82*/
  float: right;
}