html, body {
  margin: 0;
  padding: 0;
  font-family: Francois One;
}
#container {
  width: 960px;
  margin: 0px auto;
}
#container p {
  display: block;
}


@media screen and (max-width:959px) {
  #container {
    width: 100%;
  }
}

body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/5ca63234338995.56ccfd2103ab4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 500px;
  min-height: 600px;
}

.nav {
  background-color: black;
  height: 10%;
  width: 100%;
  margin-top: -2%;
}
ul li {
  border: 1px solid white;
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: white;
  font-family: arial;
  text-align: center;
}




